.card {
}
.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/Like-Icon.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__title {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-family: "poppins", Arial, sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
