.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
  font-family: "poppins", Arial, sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.profile__description {
  margin: 0;
  border: none;
  background: none;
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #212121;
  opacity: 70%;
  font-family: "poppins", Arial, sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.profile__edit-btn {
  margin-top: auto;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  gap: 8px;
  font-family: "poppins", Arial, sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
}

.profile__edit-btn:hover {
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

.profile__add-btn {
  margin-left: auto;
  width: 149px;
  height: 52px;
  margin-top: 138px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  gap: 8px;
  font-family: "poppins", Arial, sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.profile__add-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
  cursor: pointer;
}

.profile__plus-icon {
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
    font-family: "poppins", Arial, sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
  }

  .profile__name {
    margin: 0 0 6px;
    color: #212121;
    font-family: "poppins", Arial, sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    color: #212121;
    opacity: 70%;
    font-family: "poppins", Arial, sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
